<div class="data-form">
    <form action="/shopping/create" method="POST">
      <h2>Add a new Item:</h2>
      <label for="inputItem">Item</label>
      <input type="text" name="item" id="inputItem" placeholder="Item" autofocus>
      
      <label for="inputQuantity">Quantity</label>
      <input type="number" name="quantity" min="1" max="100" step="1" id="inputQuantity" required>
    
      <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
    </form>
  </div>