<div class="data-form">
    <form class="form-signin" action="/documents/create" method="POST">
      <h2 class="form-signin-heading">Create a new Document:</h2>
      <label for="inputDocumentsTitle">Title</label>
      <input type="text" name="title" id="inputDocumentsTitle" class="form-control" placeholder="Title" autofocus>
      <label for="inputPath">Path</label>
      <input type="text" name="path" id="inputPath" class="form-control" placeholder="path">
      <label for="inputCategory">Category</label>
      <input type="text" name="category" id="inputCategory" class="form-control" placeholder="Category" required>
      <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Create Document</button>
    </form>
  </div>