<h1>Document Title:    
  <%= document.title %>
  </h1>
  <table class="table">
    <tr>
      <th>CreatedAt</th>
      <td>
        <%= document.createdAt %>
      </td>
    </tr>
    <tr>
      <th>Document</th>
      <td>
        <embed src="<%= document.path %>" type="application/pdf" width="100%" height="600px" />
      </td>
    </tr>
  </table>
  