<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Legal</h4>
          <ul>
            <li><a href="#">Copyright</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Contact</h4>
          <ul>
            <li><a href="#">Phone number</a></li>
            <li><a href="#">Email address</a></li>
            <li><a href="#">Address</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Follow Us</h4>
          <ul class="social-icons">
            <li><a href="#" class="fa fa-facebook"></a></li>
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-instagram"></a></li>
            <li><a href="#" class="fa fa-linkedin"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>