<div class="nav">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="todos">Todos</a>
    <a class="nav-link" href="shoppingList">Shopping list</a>   
    <a class="nav-link" href="expenses">Expenses</a>          
    <a class="nav-link" href="flatmates">Flatmates</a>
    <a class="nav-link" href="talkTo">Talk to flatmate</a>
</div>