<h1>Flat Chat</h1>
<div>
    <form id="chatForm">
        <input type="text" name="message" placeholder="Type your message here">
        <button type="submit">Send</button>
    </form>
    <div id="chat"></div>
</div>
