<div>
    <h3>All your expenses:</h3>
      <% expenses.forEach(expense => { %>
      <div> expense title: <%= expense.title %></div>
      <div>expense amount:</div> <%= expense.amount %></div>
      <div>expense paid by:</div> <%= expense.paidBy %></div>
       <% }); %>
  </div>


  <div class="list-container">
    <h3>Add your expense</h3>
    <form action="/expenses" method="post">
    <label for="title">Title:</label><br>
    <input type="text" name="title" placeholder "Title"><br>
    <label for="amount">Amount:</label><br>
    <input type="text" name="amount" placeholder "Amount"><br>
    <label for="paidBy">Paid by:</label><br>
    <input type="text" name="paidBy" placeholder "PaidBy"><br>
    <input type="submit" name="submit">
  </form>
  </div>

  <div class="sum-up-your-expenses-container"> 
<h3>Sum up your Expenses</h3>
  </div>
