<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/styles.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/shoppingApp.ts"></script> 

</head>
<body>
	<div id="header" >
		<%- include('partials/navigation') %>
	</div>
	
	<div>
		<%- include('partials/messages') %>
	</div>
	
	<%- body %>


	<%- include('partials/footer') %>
</body>

</html>