<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div id="header" >
		<%- include('partials/navigation') %>
	</div>
	<br>
	
	<%- body %>


	<%- include('partials/footer') %>
</body>

</html>