<div class="list-container">
  <h1>All your expenses</h1>
    <% expenses.forEach(s => { %>
    <div class="expense">    
      <p>
        <span class="item-label">Title:</span>
        <%= s.title %>
      </p>
      <p>
        <span class="item-label">Description:</span>
        <%= s.description %>
      </p>
    </div>
    <% }); %>
  </div>