<button id="modal-button" type="button" data-toggle="modal" data-target="#myModal">Lastest Todos</button>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-body"></div>
        <div class="modal-footer"><button type="button" data-dismiss="modal"></button></div>
    </div>
</div>
